/* font */
@font-face {
  font-family: "DINOT-Regular";
  src: url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.eot");
  src: url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.woff") format("woff"), url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/1c587cd97662ab09cb8ba96867f212e7.svg#DINOT-Regular") format("svg");
}
/* structure */
/* button */
/* id */
/* Device responsive */
html {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 90px;
}
h2 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 40px;
}
h3 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 29.6px;
}
h4 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 26px;
}
h5 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 16px;
}
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
}
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #02212c;
  font-size: 20px;
}
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: #02212c;
}
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}
aside {
  margin-block-start: 0;
  margin-block-end: 0;
}
nav {
  margin-block-start: 0;
  margin-block-end: 0;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
section {
h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
}
img {
  max-width: 100%;
}
* {
  font-family: "DINOT-Regular";
}
.text-white {
  color: #fff;
}
.maiuscolo {
  text-transform: uppercase;
}
.bold {
  font-weight: 900;
}
.center {
  text-align: center;
  justify-content: center;
}
#nav-bar {
  ul {
    li {
      font-size: 15px;
      margin-right: 2rem;
      &:last-of-type {
        margin-left: 25px;
      }
    }
  }
  background-color: #02212c;
  height: 45px;
  img {
    filter: brightness(0) invert(1);
    margin-left: .3rem;
  }
}
.container {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}
.container-small {
  max-width: 768px;
  width: 768px;
  margin: 0 auto;
}
.container-full {
  width: 100%;
}
section {
  width: 100%;
  display: flex;
  align-items: center;
}
.flex {
  display: flex;
  align-items: center;
}
.column {
  flex-direction: column;
  justify-content: center;
}
.between {
  justify-content: space-between;
}
.around {
  justify-content: space-around;
}
.start {
  justify-content: flex-start;
}
.end {
  justify-content: flex-end;
}
.top {
  align-items: flex-start;
}
.bottom {
  align-items: flex-end;
}
.wrap {
  flex-wrap: wrap;
}
.width-4 {
  width: 25%;
}
.width-3 {
  width: 33.33333333%;
  height: 244px;
  &:nth-of-type(1) {
    background-color: #d54400;
  }
  &:nth-of-type(2) {
    background-color: #0080a9;
  }
  &:nth-of-type(3) {
    background-color: #02212c;
  }
}
.card {
  max-width: 80%;
  height: 60%;
}
.but-st1 {
  background-color: #fff;
  color: #d54400;
  border-radius: 12.5px;
  font-size: 14px;
  padding: 5px 22px;
}
.but-st2 {
  background-color: #02212c;
  color: #fff;
}
.but-st3 {
  background-color: #d54400;
  color: #fff;
  border-radius: 4px;
  padding: 13px 55px;
}
.but-st4 {
  background-color: #0080a9;
}
hr {
  width: 20px;
  margin: .3rem 0 .5rem;
}
#top-bar {
  background-color: #d54400;
  color: #fff;
  height: 40px;
}
#payout {
  font-size: 15px;
}
#but-1 {
  margin-left: 1rem;
}
#logo-bar {
  height: 100px;
}
#logo {
  font-size: 90px;
  font-weight: 900;
  text-indent: -100000px;
  position: absolute;
  span {
    font-weight: 400;
  }
}
#rs {
  a {
    margin-left: 1rem;
    span {
      margin-left: .3rem;
    }
  }
}
#ico-alt {
  position: absolute;
  transform: translateX(-30px);
}
#banner {
  height: 450px;
  background-image: url('../img/group-23.jpg');
  background-size: cover;
}
#container-banner {
  //height: 380px;
  //width: 70%;
  //transform: translateX(-100px);
}
#but-3 {
  margin-top: 3rem;
}
#welcome {
  height: 152px;
  background-color: #02212c;
}
#lente {
  width: 20px;
  height: 20px;
  transform: rotateY(180deg);
}
#tit-prod {
  margin-top: 38px;
  margin-bottom: 33px;
}
#prod {
  .width-4 {
    height: 260px;
    margin-bottom: 3rem;
  }
}
#tit-benefits {
  margin-bottom: 3rem;
}
#but-4 {
  margin-bottom: 3rem;
}
#banner-2 {
  background-image: url('../img/group-39.jpg');
  background-size: cover;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-position: left center;
}
#container-banner-2 {
  height: 330px;
  width: 50%;
  background-color: #ddd;
  transform: translateX(50px);
  border-radius: 4px;
  box-shadow: 1px 1px 30px #02212c;
  -webkit-box-shadow: 1px 1px 30px #02212c;
  -moz-box-shadow: 1px 1px 30px #02212c;
}
#useben {
  height: 251px;
  background-color: #0080a9;
}
#useben-container {
  height: 80%;
}
#lm {
  filter: brightness(0) invert(1);
  transform: rotate(-90deg) translateX(-3px);
}
#news {
  height: 137px;
}
#container-inp {
  margin-left: .3rem;
  width: 50%;
}
#inp {
  width: 250px;
  height: 27px;
}
#but-6 {
  margin-left: 3px;
  padding: 0;
  height: 35px;
  width: 110px;
}
footer {
  background-color: #0080a9;
  .width-4 {
    &:nth-of-type(1) {
      width: 20%;
    }
    &:nth-of-type(2) {
      width: 30%;
      .single-footer {
        line-height: 25px;
      }
    }
  }
}
#footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#un-logo {
  img {
    margin-top: 3rem;
    max-width: 200px;
    height: auto;
  }
}
#bottom-bar {
  border-top: 1px solid #fff;
  padding-top: .3rem;
  padding-bottom: .3rem;
}
.social-media-bar {
  transform: translateY(3px);
  img {
    width: 20px;
    height: 20px;
    margin-left: .3rem;
  }
}
#phone {
  margin-right: .3rem;
  transform: translateY(3px);
}
.mobile {
  display: none;
}
#nav-bar-mobile {
  display: none;
}
.single-footer {
  &:not(#un-logo) {
    img {
      &:not(#phone) {
        display: none;
      }
    }
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  body {
    max-width: 100%;
    max-width: 100%;
  }
  .mobile {
    display: block;
    display: block;
  }
  .pc {
    display: none;
    display: none;
  }
  section {
    height: auto !important;
    flex-direction: column;
    height: auto !important;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .container-small {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .flex {
    flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .width-3 {
    width: 100% !important;
  }
  .width-4 {
    width: 100% !important;
  }
  .top {
    align-items: center;
    align-items: center;
  }
  .bottom {
    align-items: center;
    align-items: center;
  }
  p {
    font-size: 14px;
    font-size: 14px;
  }
  #top-bar {
    display: none;
    display: none;
  }
  #logo-bar {
    display: none;
    display: none;
  }
  #nav-bar {
    display: none;
    display: none;
  }
  #nav-bar-mobile {
    display: flex;
    background-color: #02212c;
    display: flex;
    background-color: #02212c;
    li {
      margin-left: 1rem;
      margin-left: 1rem;
      img {
        width: 27px;
        height: 27px;
        width: 27px;
        height: 27px;
      }
    }
  }
  #nav-mobile {
    li {
      margin-bottom: 1rem;
      margin-bottom: 1rem;
    }
    display: none;
    display: none;
  }
  #nav-mobile.open {
    display: block;
    display: block;
  }
  #logo-mobile {
    height: 27px;
    height: 27px;
  }
  #banner {
    background: #fff;
    background: #fff;
  }
  #container-banner {
    height: auto;
    width: 100%;
    transform: none;
  }
  img.mobile {
    width: 100%;
    width: 100%;
  }
  #banner-2 {
    background: #fff;
    background: #fff;
  }
  #container-banner-2 {
    background: transparent;
    transform: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #useben-container {
    >* {
      margin: 1rem auto;
    }
  }
  #container-inp {
    width: 100%;
    margin-top: 1rem;
  }
  #inp {
    width: 60%;
    width: 60%;
  }
  #but-6 {
    margin-left: 1rem;
    width: 30%;
    margin-left: 1rem;
    width: 30%;
  }
  .single-footer {
    ul {
      display: none;
      display: none;
    }
    hr {
      display: none;
      display: none;
    }
    h5 {
      text-align: left;
      text-align: left;
    }
    padding: 1rem 15px !important;
    border-bottom: 1px solid #fff;
    padding: 1rem 15px !important;
    border-bottom: 1px solid #fff;
    &:not(#un-logo) {
      img {
        &:not(#phone) {
          display: block;
          filter: invert(1);
          float: right;
          display: block;
          filter: invert(1);
          float: right;
        }
      }
    }
  }
  #footer {
    .flex {
      display: block;
      display: block;
    }
    padding: 0;
    padding: 0;
    >.container {
      padding: 0;
    }
    >.contenitore {
      padding: 0;
    }
  }
  #tel {
    text-align: center;
    text-align: center;
    .single-footer {
      &:not(:first-of-type) {
        h5 {
          text-align: center;
          font-size: 2rem;
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
  #card {
    text-align: center;
    text-align: center;
    svg {
      width: 45px;
      height: 30px;
      width: 45px;
      height: 30px;
    }
    h5 {
      display: none;
      display: none;
    }
  }
  #un-logo {
    img {
      margin-top: 0;
      margin-top: 0;
    }
  }
  #bottom-bar-mobile {
    margin-top: 5rem;
    padding-bottom: 1rem;
    margin-top: 5rem;
    padding-bottom: 1rem;
  }
  h3 {
    font-size: 15.6px;
    font-size: 18.2px;
  }
  .contenitore {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .contenitore-small {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .colonna-3 {
    width: 100% !important;
  }
  .colonna-4 {
    width: 100% !important;
  }
  #contenitore-banner {
    height: auto;
    width: 100%;
    transform: none;
  }
  #contenitore-banner-2 {
    background: transparent;
    transform: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #useben-contenitore {
    >* {
      margin: 1rem auto;
    }
  }
  #contenitore-inp {
    width: 100%;
    margin-top: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  body {
    max-width: 100%;
  }
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
  section {
    height: auto !important;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .container-small {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .flex {
    flex-wrap: wrap;
  }
  .width-3 {
    width: 100% !important;
  }
  .width-4 {
    width: 100% !important;
  }
  .top {
    align-items: center;
  }
  .bottom {
    align-items: center;
  }
  p {
    font-size: 14px;
  }
  #top-bar {
    display: none;
  }
  #logo-bar {
    display: none;
  }
  #nav-bar {
    display: none;
  }
  #nav-bar-mobile {
    display: flex;
    background-color: #02212c;
    li {
      margin-left: 1rem;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
  #nav-mobile {
    li {
      margin-bottom: 1rem;
    }
    display: none;
  }
  #nav-mobile.open {
    display: block;
  }
  #logo-mobile {
    height: 27px;
  }
  #banner {
    background: #fff;
  }
  #container-banner {
    height: auto;
    width: 100%;
    transform: none;
  }
  img.mobile {
    width: 100%;
  }
  #banner-2 {
    background: #fff;
  }
  #container-banner-2 {
    background: transparent;
    transform: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #useben-container {
    >* {
      margin: 1rem auto;
    }
  }
  #container-inp {
    width: 100%;
    margin-top: 1rem;
  }
  #inp {
    width: 60%;
  }
  #but-6 {
    margin-left: 1rem;
    width: 30%;
  }
  .single-footer {
    ul {
      display: none;
    }
    hr {
      display: none;
    }
    h5 {
      text-align: left;
    }
    padding: 1rem 15px !important;
    border-bottom: 1px solid #fff;
    &:not(#un-logo) {
      img {
        &:not(#phone) {
          display: block;
          filter: invert(1);
          float: right;
        }
      }
    }
  }
  #footer {
    .flex {
      display: block;
    }
    padding: 0;
    >.container {
      padding: 0;
    }
  }
  #tel {
    text-align: center;
    .single-footer {
      &:not(:first-of-type) {
        h5 {
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
  #card {
    text-align: center;
    svg {
      width: 45px;
      height: 30px;
    }
    h5 {
      display: none;
    }
  }
  #un-logo {
    img {
      margin-top: 0;
    }
  }
  #bottom-bar-mobile {
    margin-top: 5rem;
    padding-bottom: 1rem;
  }
  h3 {
    font-size: 17.6px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    max-width: 100%;
  }
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
  section {
    height: auto !important;
    flex-direction: column;
  }
  .container {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .container-small {
    max-width: 100%;
    padding: 1rem 15px;
    box-sizing: border-box;
  }
  .flex {
    flex-wrap: wrap;
  }
  .width-3 {
    width: 100% !important;
  }
  .width-4 {
    width: 100% !important;
  }
  .top {
    align-items: center;
  }
  .bottom {
    align-items: center;
  }
  p {
    font-size: 14px;
  }
  #top-bar {
    display: none;
  }
  #logo-bar {
    display: none;
  }
  #nav-bar {
    display: none;
  }
  #nav-bar-mobile {
    display: flex;
    background-color: #02212c;
    li {
      margin-left: 1rem;
      img {
        width: 27px;
        height: 27px;
      }
    }
  }
  #nav-mobile {
    li {
      margin-bottom: 1rem;
    }
    display: none;
  }
  #nav-mobile.open {
    display: block;
  }
  #logo-mobile {
    height: 27px;
  }
  #banner {
    background: #fff;
  }
  #container-banner {
    height: auto;
    width: 100%;
    transform: none;
  }
  img.mobile {
    width: 100%;
  }
  #banner-2 {
    background: #fff;
  }
  #container-banner-2 {
    background: transparent;
    transform: none;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  #useben-container {
    >* {
      margin: 1rem auto;
    }
  }
  #container-inp {
    width: 100%;
    margin-top: 1rem;
  }
  #inp {
    width: 60%;
  }
  #but-6 {
    margin-left: 1rem;
    width: 30%;
  }
  .single-footer {
    ul {
      display: none;
    }
    hr {
      display: none;
    }
    h5 {
      text-align: left;
    }
    padding: 1rem 15px !important;
    border-bottom: 1px solid #fff;
    &:not(#un-logo) {
      img {
        &:not(#phone) {
          display: block;
          filter: invert(1);
          float: right;
        }
      }
    }
  }
  #footer {
    .flex {
      display: block;
    }
    padding: 0;
    >.container {
      padding: 0;
    }
  }
  #tel {
    text-align: center;
    .single-footer {
      &:not(:first-of-type) {
        h5 {
          text-align: center;
          font-size: 2rem;
        }
      }
    }
  }
  #card {
    text-align: center;
    svg {
      width: 45px;
      height: 30px;
    }
    h5 {
      display: none;
    }
  }
  #un-logo {
    img {
      margin-top: 0;
    }
  }
  #bottom-bar-mobile {
    margin-top: 5rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  #container-banner-2 {
    display: none;
  }
}
